.navbar {
    color: #FFFFFF !important;
    background-color: #4e6ccc !important;
}

.custom-colour {
    background-color: #f1f1ee !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4e6ccc;
}
