{% extends 'base.html' %}

{% block content %}
    <h3>From {{ transaction.wallet.user }}'s {{ transaction.wallet.name }} wallet</h3>
    <h3>Current balance: {{ transaction.wallet.balance }}zł</h3>
    <div class="col-4">
        <img src="{{ transaction.invoice.url }}" class="btn btn-light mb-4" alt="">
    </div>

    <div class="my-4">
        <button class="btn btn-danger" onclick="location.href='{% url "home_budget:transaction_delete" transaction.id %}'">Delete transaction</button>
    </div>
{% endblock %}
