{% extends 'base.html' %}

{% block content %}
    <h3>From {{ transaction.wallet.user }}'s {{ transaction.wallet }} wallet</h3>
    {% if transaction.type == 'EXPENSE' %}
        <small>{{ transaction.created }}</small>
        <p><span class="font-weight-bold" style="color: red">{{ transaction }}</span> | <a href="{% url 'home_budget:transaction_delete' transaction.id %}">Delete</a>
            | <a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</a></p>
    {% else %}
        <small>{{ transaction.created }}</small>
        <p><span class="font-weight-bold" style="color: green">{{ transaction }}</span> | <a href="{% url 'home_budget:transaction_delete' transaction.id %}">Delete</a>
            | <a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</a></p>
    {% endif %}
{% endblock %}
