{% extends 'base.html' %}
{% load app_filters %}

{% block content %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col">Created</th>
          <th scope="col">Wallet</th>
          <th scope="col">Detail</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in object_list %}
        <tr {% if transaction.type == 'EXPENSE' %}class="table-danger"{% else %}class="table-success"{% endif %}>
          <td></a>{{ transaction.title|title }}</td>
          <td>{{ transaction.category|title }}</td>
          <td>{% if transaction.type == 'EXPENSE' %}-{{ transaction.amount }}{% else %}{{ transaction.amount }}{% endif %}</td>
          <td> {{ transaction.wallet.currency }}</td>
          <td>{{ transaction.created|date:'d.m Y' }}</td>
          <td><a href="{% url 'home_budget:wallet_detail' transaction.wallet.id %}">{{ transaction.wallet.name }}</a></td>
            <td><a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</a></td>
          <td>{{ transaction.user.all|transaction_user }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="my-4">
        <button class="btn btn-primary" onclick="location.href='{% url "home_budget:transaction_create" %}'">Create new transaction</button>
    </div>
{% endblock %}
