{% extends 'base.html' %}

{% block content %}
    <div class="m-5 pb-5">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete {{ wallet.name }} wallet?</h5>
            <p class="card-text">If you delete your wallet, all transactions related to it will be deleted from database as well.</p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
                <button type="button" class="btn btn-success" onclick="history.back()">Cancel</button>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
