{% extends 'base.html' %}

{% block content %}
    <h3>{{ wallet.user }}'s {{ wallet.name }} wallet</h3>
    <h3>{{ wallet.balance }}zł</h3>
    {% for transaction in wallet.transactions.all %}
        {% if transaction.type == 'EXPENSE' %}
            <small>{{ transaction.created }}</small>
            <p><span class="font-weight-bold" style="color: red">{{ transaction }}</span> | <a href="{% url 'home_budget:transaction_delete' transaction.id %}">Delete</a>
            | <a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</a></p>
        {% else %}
            <small>{{ transaction.created }}</small>
            <p><span class="font-weight-bold" style="color: green">{{ transaction }}</span> | <a href="{% url 'home_budget:transaction_delete' transaction.id %}">Delete</a>
            | <a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
