{% extends 'base.html' %}

{% block content %}
    {% if wallet.transactions.all %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Amount</th>
              <th scope="col">Created</th>
              <th scope="col">Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in wallet.transactions.all %}
            <tr {% if transaction.type == 'EXPENSE' %}class="table-danger"{% else %}class="table-success"{% endif %}>
              <td></a>{{ transaction.title|title }}</td>
              <td>{{ transaction.category|title }}</td>
              <td>{% if transaction.type == 'EXPENSE' %}-{{ transaction.amount }}{% else %}{{ transaction.amount }}{% endif %}</td>
              <td>{{ transaction.created }}</td>
              <td><a href="{% url 'home_budget:transaction_detail' transaction.id %}">Detail</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>No transactions yet on this wallet</p>
    {% endif %}
    <div class="my-4">
        <button class="btn btn-danger" onclick="location.href='{% url "home_budget:wallet_delete" wallet.id %}'">Delete wallet</button>
        <button class="btn btn-warning" onclick="location.href='{% url "home_budget:wallet_contributors" wallet.id %}'">Invite contributor</button>
    </div>
{% endblock %}
