{% extends 'base.html' %}
{% load app_filters %}

{% block content %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Balance</th>
          <th scope="col">Users</th>
        </tr>
      </thead>
      {% for wallet in object_list %}
        <tbody>
            <tr>
                <td><a href="{% url 'home_budget:wallet_detail' wallet.id %}">{{ wallet.name }}</a></td>
                <td>{{ wallet.balance }} {{ wallet.currency }}</td>
                <td>{{ wallet.user.all|transaction_user }}</td>
            </tr>
        </tbody>
      {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='{% url "home_budget:wallet_create" %}'">Create new wallet</button>

{% endblock %}
